.general-text {
    text-align: center;
    margin-top: 2rem;
}

  .input-size {
    width: 30%;
    margin: 0 auto 2rem auto;
  }

  .button-login-size {
    width: 20%;
    margin-bottom: 2rem;
  }
  
